{% extends 'publisher_app/base.html' %}

{% block og_title %}{{author_info.writter_name_bangla}} {% endblock %}
{% block og_img %}https://ahsan.com.bd/static/publisher_app/media/{{author_info.writter_images}}{% endblock %}
{% block og_description %}{{author_info.personal_details|safe}}{% endblock %}

{% block title %} {{author_info.writter_name_bangla}} {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="padding-right: 0;">
                <div class="product_filtering_sidebar">
                    <div class="filtering_header">
                        <h4> <i class="fa fa-filter"></i> Filter <span>Clear All</span></h4>
                    </div>
                    <div class="price_filter_box">
                        <div class='container mt-4'>
                            <h5>Price</h5>
                            <input type="text" class="js-range-slider" name="my_range" value=""/>    
                        </div>
                    </div>
                    <div class="reating_filter_box">
                        <h5>Ratings</h5>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i> </label> </p>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i> </label> </p>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i> </label> </p>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star"></i> </label> </p>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i> </label> </p>
                    </div>
                     
                    <div class="top_publisher_book">
                        <h5>Book Types <!-- <input type="text" name="" id="searchFixedSearchBox"> <i class="fa fa-search" id="searchIconFixedSearchBox"></i> --> </h5>
                        <div class="display_top_books"> 
                            {% for publi in publisher_load|book_publisher %}
                                <p> <label> <input type="checkbox" onclick="filter_publisher('{{publi.id}}')" > <a href="/book/publisher/{{ publi.pk }}/{{publi.menu_url}}"> {{ publi.publisher_name_bangla }} </a></label></p>
                            {% endfor %}
                        </div> 
                    </div>
                    <div class="top_publisher_book">
                        <h5>Authors <!-- <input type="text" name="" id="searchFixedSearchBox"> <i class="fa fa-search" id="searchIconFixedSearchBox"></i> --> </h5>
                        <div class="display_top_books"> 
                            {% for writer in writter_load|book_writter %}
                                <p> <label> <input type="checkbox"  onclick="filter_writter('{{writer.id}}')" ><a href="/book/author/{{ writer.pk }}/{{writer.menu_url}}"> {{ writer.writter_name_bangla }}</a></label></p>
                            {% endfor %}
                             
                        </div> 
                    </div>
                    <div class="top_publisher_book">
                        <h5>Categories <!-- <input type="text" name="" id="searchFixedSearchBox"> <i class="fa fa-search" id="searchIconFixedSearchBox"></i> --> </h5>
                        <div class="display_top_books">
                            <p> <label> <input type="checkbox" > Meena book House </label></p>
                            {% for category in category_load|book_category %}
                                <p> <label> <input type="checkbox" ><a href="/book/category/{{ category.pk }}/{{category.menu_url}}">  {{ category.cat_name_bangla }} </a> </label></p>
                            {% endfor %}
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="col-sm-9">
                <div class="author_mainarea_pull">
                    <div class="author_details">
                        {% if author_info.writter_images %}
                            <img src="/static/publisher_app/media/{{ author_info.writter_images }}" alt="Authors Images">
                        {% else %}
                            <img src="/static/publisher_app/images/writter.jpg" alt="Authors Images" style="border:1px solid #ccc;">
                        {% endif %}
                        <h4>{{ author_info.writter_name_bangla }}</h4>
                        {% if author_info.personal_details %}
                            <div class="author_details_mes">
                                {{ author_info.personal_details|safe }} 
                            </div>

                            {% if author_info.personal_details|length|get_digit:"-1" > 200 %}
                                <button class="btn btn-primary" id="read_more_button">Read More...</button>
                            {% endif %}
                        {% endif %}

                    </div>
                    <div class="author_book_list">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Authors</a></li>
                            <li>{{ author_info.writter_name_bangla }}</li>
                          </ul>
                        <h4>{{ author_info.writter_name_bangla }} এর বই সমূহ</h4> <hr> 
                        <input type="text" id="author_id" value="{{ author_info.id }}" hidden>
                        <input type="text" id="author_menu_url" value="{{ author_info.menu_url }}" hidden>
                        
                        <div class="row" id="publisher_app_category_books_items_row">
                            {% for book in book_lit %}  
                              <div class="col-lg-3 col-md-3 col-xs-6" id="publisher_app_category_books_items">
                                    <div class="category_book_item"> 
                                        <div class="product_image_display">
                                            {% if book.discount > 0 %}
                                                <div class="discount_area"> <span>{{ book.discount }}%</span> </div>
                                            {% endif %}
                                            {% if wish_list %}
                                                {% for data in wish_list %}
                                                    {% if data.book_name_id == book.wl_id %}
                                                        <div class="fovarite_icon_active" id="fovarite_icon_active_{{book.pk}}">
                                                            <i onclick="addTowishListItem('{{book.pk}}', 'active')" class="fa fa-heart"></i>
                                                        </div>
                                                    {% else %}
                                                        <div class="fovarite_icon" id="fovarite_icon_{{book.pk}}">
                                                            <i onclick="addTowishListItem('{{book.pk}}', 'inactive')" class="fa fa-heart-o"></i>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <div class="fovarite_icon" id="fovarite_icon_{{book.pk}}">
                                                    <i onclick="addTowishListItem('{{book.pk}}', 'inactive')" class="fa fa-heart-o"></i>
                                                </div>
                                            {% endif %}
                                            {% if book.thumbnail %}
                                                <a href="/book/{{ book.pk }}/{{book.slug}}/"> <img src="/static/publisher_app/media/{{ book.thumbnail }}"></a>
                                            {% elif book.book_image %}
                                                <a href="/book/{{ book.pk }}/{{book.slug}}/"> <img src="/static/publisher_app/media/{{ book.book_image }}"></a>
                                            {% else %}
                                                <a href="/book/{{ book.pk }}/{{book.slug}}/"><img src="/static/publisher_app/images/book_thamb.jpg" ></a>
                                            {% endif %} 
                                        </div>
                                        <div class="product-content"> 
                                            <p>{{ book.get_cover_type_display}}</p>
                                            <h3 class=""><a href="/book/{{ book.pk }}/{{book.slug}}/">{{ book.book_name_bangla}}</a></h3>
                                            <h6 class="writer">{{ book.writter_name_bangla}}</h6>
                                            <span class="price"> Tk. {{ book.sale_price}} {% if book.discount == 0 %}  {% else %}  <del>Tk. {{ book.book_price }}</del> {% endif %}</span> 
                                            <div class="cart_submit_add" id="cart_submit_add" hidden>
                                                <input type="text" id="{{ book.pk }}_book_id" value="{{ book.pk }}">
                                                <input type="text" id="{{ book.pk }}_r_book_id" value="{{ book.pk }}">
                                                <input type="text" id="{{ book.pk }}_sale_price" value="{{ book.sale_price }}">
                                                <input type="text" id="{{ book.pk }}_book_price" value="{{ book.book_price }}">
                                                <input type="text" id="{{ book.pk }}_discount" value="{{ book.discount }}">
                                            </div>  
                                        </div>
                                        <!-- Cart Button  -->
                                        <div class="overlay_cart_button">
                                            <center> 
                                                {% if book.stock_info == '4' %}
                                                        <a href="#" class="add-to-cart-new"> Pre Order </a>
                                                {% elif book.stock_info == '3' %}
                                                    <a href="#" class="add-to-cart-new">Out of Stock </a>
                                                {% else %}
                                                    <button style="border:none" class="add-to-cart-new" onclick="cart_function('{{ book.pk }}')"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                {% endif %}   
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
    <!-- Cart Loader   -->
    <div class="cart_loader">
        <img src="/static/publisher_app/images/loader.gif" alt="loader">
    </div>
    <div class="cart_loader_exist">
        <h4>Already Added!</h4>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 340px; margin: 10rem auto;">
          <div class="modal-content">
            <div class="modal-header" style="border-bottom:none">
              <h5 class="modal-title" id="exampleModalLabel" style="color:green;text-align:center"><i class="fa fa-check-square-o" aria-hidden="true"></i> Successfully Added to Cart</h5>
            </div>
          </div>
        </div>
      </div>
    
    
    <script src="{% static 'publisher_app/js/jquery.js' %}"></script>  
    <script type="text/javascript">
        $(".cart_loader").hide();
        $(".cart_loader_exist").hide();
        function cart_function(id){
            $(".cart_loader").hide();
            var author_id = $("#author_id").val();
            var author_menu_url = $("#author_menu_url").val();
            var book_id   = document.getElementById(id+"_book_id").value;
            var sale_price   = document.getElementById(id+"_sale_price").value;
            var book_price   = document.getElementById(id+"_book_price").value;
            var discount     = document.getElementById(id+"_discount").value;
            var url = "/book/author/"+author_id+"/"+author_menu_url+"/";
             
            $.ajax({
                url: url,
                type:'GET',
                data : {
                    book_id : book_id,
                    sale_price : sale_price,
                    book_price : book_price,
                    discount : discount,
                },
                success: function(data){
                    if(data == "success")
                    { 
                        $(".cart_loader").show();
                        $(".cart_loader_exist").hide();
                        window.setTimeout(function () {
                            $(".cart_loader").hide();
                        }, 1000);
                        var count = parseInt($("#cart_items").html()) + 1;
                        $("#cart_items").html(count); 
                    }
                    else{
                        $(".cart_loader").hide();   
                        $(".cart_loader_exist").show();   
                        window.setTimeout(function () {
                            $(".cart_loader_exist").hide();
                        }, 1000);
                    }
                  
                },
                error: function(data){
                    alert(data);
                }
            });
        }
    </script> 

<script>
    $(document).ready(function(){
     $('#read_more_button').click(function(){
       $('.author_details_mes').removeClass();
       $('#read_more_button').hide();
     });
    });
</script>

<script>
    function addTowishListItem(book_id, status){   
        $.ajax({
            url: "/addToWishList/",
            type:'GET',
            data : {
                book_id : book_id, 
                status : status, 
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data){ 
                if (data == "active"){
                    var wishlist_count = parseInt($("#wishlist_items").html()) + 1;
                    $("#wishlist_items").html(wishlist_count);  
                    location.reload(); 
                }
                else{
                    var wishlist_count = parseInt($("#wishlist_items").html()) - 1;
                    $("#wishlist_items").html(wishlist_count);
                    location.reload();
                }
            },
            error: function(data){ 
                alert(data);
            }
        });
    }
</script>

<!-- Recent Books Items   -->
<script type="text/javascript">
    function recent_function(id){
        var r_book_id   = document.getElementById(id+"_r_book_id").value;  
        $.ajax({
            url: "/book/recent-book/",
            type:'GET',
            data : {
                r_book_id : r_book_id, 
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data){ 
            },
            error: function(data){ 

            }
        });
    }
</script> 

{% endblock %}