{% extends 'publisher_app/base.html' %}

{% block og_title %}{{cat_info.cat_name_bangla}} {% endblock %}
{% block og_img %}https://ahsan.com.bd/static/publisher_app/images/durbarmocup.jpg{% endblock %}
{% block og_description %} {{cat_info.cat_name_bangla}} বিষয়ক সকল বই সাশ্রয়ী মূল্যে সংগ্রহ করুন দুর্বার শপ থেকে। ঘরে বসে হাতে পেয়ে বইয়ের মূল্য পরিশোধে  করুন এবং  ফ্রি শিপিং ও সর্বোচ্চ ছাড় উপভোগ করুন !{% endblock %}

{% block title %} {{cat_info.cat_name_bangla}} {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}

<style>
    

.fg_product_pagination {
    clear: both;
    overflow: hidden;
    width: 100%;
    text-align: right;
}
.fg_product_pagination .pagination {
    width: 455px;
    margin-right: -15px; 
    margin-top: 10px;
}
.fg_product_pagination .pagination li {
    float: left;
    margin: 2px;
}
.pagination > .list {
    display: inline;
}

.pagination > .list ~ .list {
    display: none;
}
.fg_product_pagination .pagination li a,
.fg_product_pagination .pagination li span{
    padding: 0;
    margin-left: 0px;
    text-decoration: none;
    border: 0px solid #ddd;
    width: 40px;
    height: 35px;
}
.fg_product_pagination .pagination li a button{
    padding: 5px;
}
.fg_product_pagination .pagination li.active span button {
    background-color: #449D44;
    border: 1px solid #ddd;
}
.fg_product_pagination .pagination li span button:hover,
.fg_product_pagination .pagination li a button:hover {
    background-color: #00c292;
    color: #ffffff;
}
.fg_product_pagination .pagination li span button,
.fg_product_pagination .pagination li a button {
    padding: 5px 10px;
    margin: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}

 
.fg_product_pagination ul.pagination li.list.first-place {
    position: relative;
    margin-right:40px;
}
.fg_product_pagination ul.pagination li.list.last-place{
    position: relative;
}
.fg_product_pagination ul.pagination li.list.first-place::after {
    content: "...";
    position: absolute;
    top: 0px;
    right: -25px;
}
.fg_product_pagination ul.pagination li.list.last-place::before {
    content: "...";
    position: absolute;
    top: 0px;
    left: -25px;
}
.fg_product_pagination ul.pagination li.list.active{
    display: inline !important; 
}
.pagination li.list:lt(5){
    display: inline;
}
    @media screen and (max-width: 13661px){
        .table.table-striped>tbody>tr>td, 
        .table.table-striped>tbody>tr>th, 
        .table.table-striped>tfoot>tr>td, 
        .table.table-striped>tfoot>tr>th, 
        .table.table-striped>thead>tr>td, 
        .table.table-striped>thead>tr>th {
            font-size: 13px;
        }
        .action-order a.btn {
            font-size: 11px !important;
        }
    }
    @media screen and (max-width: 991px){
        .sales-order-list .btn-group.bootstrap-select,
        .sales-order-list input[type='text'] {
            margin-bottom: 15px;
        }
    }
    @media screen and (max-width: 767px){
        .bootstrap-select .btn{
            font-size: 12px !important;
        }
        .filter-apply .btn{
            font-size: 12px !important;
            box-shadow: none !important;;
        }
        .action-order a.btn {
            font-size: 10px !important;
        }
    }
    
    @media screen and (max-width: 660px){
        .action-order div {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
    }
       
    .pagination_first_btn{
        padding: 5px;
        margin-top: 2px;
        background: #cfcfcf;
    }
 
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="padding-right: 0;">
                <div class="product_filtering_sidebar">
                    <div class="filtering_header">
                        <h4> <i class="fa fa-filter"></i> Filter <span>Clear All</span></h4>
                    </div>
                    <div class="price_filter_box">
                        <div class='container mt-4'>
                            <h5>Price</h5>
                            <input type="text" class="js-range-slider" name="my_range" value=""/>    
                        </div>
                    </div>
                    <div class="reating_filter_box">
                        <h5>Ratings</h5>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i> </label> </p>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i> </label> </p>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i> </label> </p>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star"></i> </label> </p>
                        <p> <label><input type="checkbox"> <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i>  <i class="fa fa-star star-yellow"></i> </label> </p>
                    </div>
                    <div class="top_analisis_sales">
                        <p> <label> <input type="checkbox" > নতুন প্রকাশিত বই </label></p>
                        <p> <label> <input type="checkbox" > বেস্ট সেলার বই </label></p>
                        <p> <label> <input type="checkbox" >  গত সপ্তাহের সেরা বই </label></p> 
                    </div>
                    <div class="top_publisher_book">
                        <h5>Book Types  <input type="text" name="" id="searchFixedSearchBox"> <i class="fa fa-search" id="searchIconFixedSearchBox"></i> </h5>
                        <div class="display_top_books"> 
                            {% for publi in publisher_load|book_publisher %}
                                <p> <label> <input type="checkbox" > {{ publi.publisher_name_bangla }} </label></p>
                            {% endfor %}
                        </div> 
                    </div>
                    <div class="top_publisher_book">
                        <h5>Authors <input type="text" name="" id="searchFixedSearchBox"> <i class="fa fa-search" id="searchIconFixedSearchBox"></i> </h5>
                        <div class="display_top_books"> 
                            {% for writer in writter_load|book_writter %}
                                <p> <label> <input type="checkbox" > {{ writer.writter_name_bangla }}</label></p>
                            {% endfor %}
                             
                        </div> 
                    </div>
                    <div class="top_publisher_book">
                        <h5>Categories <input type="text" name="" id="searchFixedSearchBox"> <i class="fa fa-search" id="searchIconFixedSearchBox"></i> </h5>
                        <div class="display_top_books">
                            <p> <label> <input type="checkbox" > Meena book House </label></p>
                            {% for category in category_load|book_category %}
                                <p> <label> <input type="checkbox" > {{ category.cat_name_bangla }}</label></p>
                            {% endfor %}
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="col-sm-9">
                <div class="author_mainarea_pull">
                    <div class="author_book_list">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/">Books</a></li>
                            <li><a href="#">Categories</a></li>
                            <li>{{ cat_info.cat_name_bangla }}</li>
                          </ul>
                        <h4>{{ cat_info.cat_name_bangla }}</h4> <hr>
                        <input type="text" id="category_id" value="{{ cat_info.id }}" hidden>
                        <input type="text" id="category_menu_url" value="{{ cat_info.menu_url }}" hidden>
                        <div class="row" id="publisher_app_category_books_items_row">
                            {% for book in cat_book_list %}  
                                <div class="col-lg-3 col-md-3 col-xs-6" id="publisher_app_category_books_items">
                                    <div class="publisher_app_category_books_items">
                                        <div class="publisher_app_book_image"> 
                                                <div class="book_image_cover">
                                                    <a href="/book/{{ book.pk }}/{{book.slug}}/" onclick="recent_function('{{ book.pk }}')">
                                                        <img src="/static/publisher_app/media/{{ book.book_image }}" alt="publisher_app Books">
                                                    </a>
                                                    {% if book.discount > 0 %} 
                                                        <span>{{ book.discount }}%</span>
                                                    {% endif %}
                                                </div>
                                            
                                        </div>
                                        <div class="publisher_app_product_title">
                                            <h4>{{ book.book_name_bangla }}</h4>
                                            <h5>{{ book.writter_name_bangla }}</h5>
                                        </div>
                                        <div class="product_price">
                                            <h6 style="font-weight:bold"> {% if book.discount == 0 %}  {% else %}  <del style="font-size:14px;font-weight:normal;"> TK. {{ book.book_price }}</del> {% endif %} TK. {{ book.sale_price}} </h6> 
                                        </div>
                                        <div class="add_to_cart_btn">
                                            <div class="cart_submit_add" id="cart_submit_add" hidden>
                                                <input type="text" id="{{ book.pk }}_book_id" value="{{ book.pk }}">
                                                <input type="text" id="{{ book.pk }}_r_book_id" value="{{ book.pk }}">                                                
                                                <input type="text" id="{{ book.pk }}_sale_price" value="{{ book.sale_price }}">
                                                <input type="text" id="{{ book.pk }}_book_price" value="{{ book.book_price }}">
                                                <input type="text" id="{{ book.pk }}_discount" value="{{ book.discount }}">
                                            </div>
                                             <center>
                                                {% if book.stock_info != '3' %} 
                                                    {% if book.stock_info == '4' %}
                                                        <a href="" class="add-to-cart"> Pre Order </a>
                                                    {% else %}
                                                         <button style="border:none" class="add-to-cart22" onclick="cart_function('{{ book.pk }}')"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                                    {% endif %}
                                                {% else %}
                                                    <a href="#" class="add-to-cart"> Not Available</a>
                                                {% endif %} 
                                               
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}      
                            
                        </div>
                    </div>
                    <form method="POST"> {% csrf_token %}
                        <input type="text" id="active_page" value="{{ current_page_no }}" hidden />
                        <div class="fg_product_pagination">
                            {% if page_number.has_other_pages %}
                            <ul class="pagination">
                                {% if page_number.has_previous %}
                                <li><a href=""><button type="submit" name="btnPage"
                                            value="{{ page_number.previous_page_number }}">&laquo;</button></a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in page_number.paginator.page_range %}
                                {% if page_number.number == i %}
                                <li class="list active"><span><button type="submit" name="btnPage" value="{{ i }}">{{ i }}</button> <span
                                            class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li class="list"><a href=""><button type="submit" name="btnPage" value="{{ i }}">{{ i }}</button></a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_number.has_next %}
                                <li><a href=""><button type="submit" name="btnPage"
                                            value="{{  page_number.next_page_number }}">&raquo;</button></a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif%}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Recent View Products  -->
<!-- {% if recent_book_list > 5 %}
<section class="carousel-category-book-items">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="category-book-items">
                    <h4><i class="fa fa-eye"></i> Recently Viewed</h4>
                    <div class="owl-carousel book-items">
                        {% for book in recent_book_list %}
                        <div class="category_book_item"> 
                            <div class="product-grid2">
                                <div class="product-image2">
                                    {% if book.discount > 0  %} <p class="discount_range">{{ book.discount }}% </p> {% endif %}
                                        <img class="pic-1" src="/static/publisher_app/media/{{ book.book_name.book_image }}">
                                        {% if book.is_pre_image == 1 %}
                                            <img src="/static/publisher_app/images/readmore.png" alt="" class="readmore_images">
                                        {% endif %} 
                                    
                                    <ul class="social">
                                        <li><a href="/book/{{ book.pk }}/{{book.slug}}/" onclick="recent_function('{{ book.pk }}')"> View Details </a></li>
                                    </ul>
                                    <div class="cart_submit_add" id="cart_submit_add" hidden>
                                        <input type="text" id="{{ book.pk }}_book_id" value="{{ book.pk }}"> 
                                        <input type="text" id="{{ book.pk }}_sale_price" value="{{ book.sale_price }}">
                                    </div>
                                    <center>
                                        {% if book.stock_info != '3' %} 
                                            {% if book.stock_info == '4' %}
                                                <a href="" class="add-to-cart"> Pre Order </a>
                                            {% else %}
                                                    <button style="border:none" class="add-to-cart" onclick="cart_function('{{ book.pk }}')"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" class="add-to-cart"> Not Available</a>
                                        {% endif %}  
                                    </center>
                                </div> 
                            </div> 
                        </div>
                        {% endfor %}
                        
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} -->

    

<!-- Cart Loader   -->
<div class="cart_loader">
    <img src="/static/publisher_app/images/loader.gif" alt="loader">
</div>
<div class="cart_loader_exist">
    <h4>Already Added!</h4>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 340px; margin: 10rem auto;">
        <div class="modal-content">
        <div class="modal-header" style="border-bottom:none">
            <h5 class="modal-title" id="exampleModalLabel" style="color:green;text-align:center"><i class="fa fa-check-square-o" aria-hidden="true"></i> Successfully Added to Cart</h5>
        </div>
        </div>
    </div>
</div>
    
    
<script src="{% static 'publisher_app/js/jquery.js' %}"></script> 

<script type="text/javascript">
    $(".cart_loader").hide();
    $(".cart_loader_exist").hide();
    function cart_function(id){
        $(".cart_loader").hide();
        var book_id   = document.getElementById(id+"_book_id").value;
        var sale_price   = document.getElementById(id+"_sale_price").value;
        var book_price   = document.getElementById(id+"_book_price").value;
        var discount      = document.getElementById(id+"_discount").value;
        var category_id = $("#category_id").val();
        var category_menu_url = $("#category_menu_url").val();
        var url = "/book/category/"+category_id+"/"+category_menu_url+"/";
        $.ajax({
            url: url,
            type:'GET',
            data : {
                book_id : book_id,
                sale_price : sale_price,
                book_price : book_price,
                discount : discount,
            },
            success: function(data){
                if(data == "success"){ 
                    $(".cart_loader").show();
                    $(".cart_loader_exist").hide();
                    window.setTimeout(function () {
                        $(".cart_loader").hide();
                    }, 1000);
                    var count = parseInt($("#cart_items").html()) + 1;
                    $("#cart_items").html(count); 
                }
                else{
                    $(".cart_loader").hide();   
                    $(".cart_loader_exist").show();   
                    window.setTimeout(function () {
                        $(".cart_loader_exist").hide();
                    }, 1000);
                } 
            },
            error: function(data){
                    alert(data);
            }
        });
    }
</script> 

<script>
    $(document).ready(function(){
        $('#read_more_button').click(function(){
        $('.author_details_mes').removeClass();
        $('#read_more_button').hide();
        });
    });
</script>

<!-- Recent Books Items   -->
<script type="text/javascript">
    function recent_function(id){
        var r_book_id   = document.getElementById(id+"_r_book_id").value;  
        $.ajax({
            url: "/book/recent-book/",
            type:'GET',
            data : {
                r_book_id : r_book_id, 
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data){ 
            },
            error: function(data){ 

            }
        });
    }
</script> 


<script>
    
    function pagination_sales_list(){
        $(".pagination li.list:lt(5)").css({'display':'inline', 'margin-right':'0px'});
        $(".pagination li.list").first().css({'display':'inline'});
        $(".pagination li.active").next().css( "display", "inline" );
        $(".pagination li.active").prev().css( "display", "inline" );
        $('.pagination li.list').last().css({'display':'inline', 'margin-left':'40px'});
        $(".pagination li.list").last().addClass('last-place');
        $(window).on('load', function() {
            var current_lenght = $(".pagination li.list").length;
            current_lenght = current_lenght -4;
            console.log(current_lenght);
            var current_id = $("#active_page").val();
            current_id = parseInt(current_id);
            if( current_id >=5 ){
                $(".pagination li.list").first().addClass('first-place');
                $(".pagination li.list:lt(5)").css({'display':'none'});
                $(".pagination li.list").first().css({'display':'inline','margin-right':'40px'});
                $(".pagination li.active").next().css( "display", "inline" );
                $(".pagination li.active").prev().css( "display", "inline" );
                if(current_lenght <= current_id){
                    $('.pagination li.list').last().css({'display':'inline', 'margin-left':'0px'});
                    $('.pagination li.list').slice(-5).css("display", "inline");
                }
            }
        }); 
    }
    
     
    pagination_sales_list();
     
    </script>

{% endblock %}