<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comming Soon</title>
</head>
<style>
    h1{
        font-size:80px;
        margin-top: 150px;color:#305050;
        margin-bottom: 17px;
    }
    a{
        font-size:23px;
        text-decoration: none;
        color:#333;
        background:rgb(252, 179, 191);
        padding:9px;
        border-radius: 5px;
    }
    a:hover{
        color:#fff;
        background: #305050;
        box-shadow:0px 3px 3px gray;
    }

</style>
<body>

    <center>
        <h1>Comming Soon...</h1>
        <a href="/">Go to Homepage</a>
    </center>
    
</body>
</html>