{% extends 'publisher_app/base.html' %}
{% block title %} Forget Password {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}
<style>
    .loginSubmitSection{
        padding: 22px 75px;
        box-shadow: 0px 0px 3px #505050;
        background: white;
        border-radius: 5px;
    } 
</style>
<section class="login_page">
    <div class="container">
        <form method="POST"> {% csrf_token %} 
        <div class="row">  
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="publisher_app_customer_login"> 
                <div class="loginSubmitSection"> 
                    <div class="login_logo">
                        <center>
                            <img src="/static/publisher_app/images/services/footer_logo.PNG" alt="Ahsan Logo"> <br><br>
                            <h2>Forget Password</h2> <br>
                        </center>
                    </div> 
                    
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                     
                    <div class="form-group"> 
                        <input type="text" class="form-control" min="11" max="11" name="mobile_no" placeholder="Enter your mobile no..." required> 
                    </div> 
                    <div class="form-group"> 
                        <button type="submit" class="login_btn"  style="width: 160px;" >Reset Password</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
    </div>

</section> 
{% endblock %}