{% extends 'publisher_app/base.html' %}
{% block title %} Customer Login {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}
<style>
    .loginSubmitSection{
        padding: 22px 75px;
        box-shadow: 0px 0px 3px #505050;
        background: white;
        border-radius: 5px;
    }
    #login_error_msg{
        background: #f7c1ae;
        padding:10px;
        text-align: center;
        font-size: 17px;
        border-radius: 5px; 
    }

</style>
<section class="login_page">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="publisher_app_customer_login"> 
                <div class="loginSubmitSection"> 
                    <div class="login_logo">
                        <center>
                            <img src="/static/publisher_app/images/services/footer_logo.PNG" alt="Ahsan Logo"> <br>
                            <h2>Customer Login </h2> 
                        </center>
                    </div>  
                    <div class="form-group" id="mobile_number_box"> 
                        <label>Mobile Number </label>
                        <input type="number" class="form-control" id="your_mobile" placeholder="Mobile" onkeypress="return event.charCode >= 48" min="1" > 
                    </div> 
                    <!-- <div class="form-group" id="confirm_otp_box"> 
                        <h3>Use your One Time Password (OTP) for your login request. Valid for 1 minute.</h3>
                        <label>OTP Number</label>
                        <input type="number" id="confirm_otp" class="form-control" placeholder="4 Digit OTP Number"> 
                    </div> -->
                    <div class="form-group"> 
                        <button type="submit" class="login_btn" id="LoginSubmit" style="width: 130px;" >Send OTP</button>             
                        <!-- <button type="submit" class="btn btn-info" id="ConfirmOTPNumber" style="width: 150px;" >Confirm OTP</button>              -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</section>

<script src="{% static 'publisher_app/js/jquery.js' %}"></script>  
<script> 
    // $("#confirm_otp_box").hide();
    // $("#ConfirmOTPNumber").hide();
    $("#LoginSubmit").click(function(){
        var your_mobile = $("#your_mobile").val(); 
        $.ajax({
            url: "/customer/login/",
            type:'GET',
            data : {
                your_mobile : your_mobile, 
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data){
                if(data == "Sent OTP")
                { 
                    alert("OTP Send Successfull.")
                    // $("#confirm_otp_box").show();
                    // $("#ConfirmOTPNumber").show();
                    // $("#mobile_number_box").hide();
                    // $("#LoginSubmit").hide();

                    window.location.href = "/confirm-otp/";
                }
                else{
                    // $("#mobile_number_box").show();
                    // $("#LoginSubmit").show();
                    // $("#confirm_otp_box").hide();
                    // $("#ConfirmOTPNumber").hide();
                    alert(data);
                }
            },
            error: function(data){
                alert(data);
            },
        })
    })
</script>
 
{% endblock %}