{% extends 'publisher_app/base.html' %}
{% block title %} Customer Login {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}
<style>
    .loginSubmitSection{
        padding: 22px 75px;
        box-shadow: 0px 0px 3px #505050;
        background: white;
        border-radius: 5px;
    }
    #login_error_msg{
        background: #f7c1ae;
        padding:10px;
        text-align: center;
        font-size: 17px;
        border-radius: 5px; 
    }

</style>
<section class="login_page">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="publisher_app_customer_login"> 
                <div class="loginSubmitSection"> 
                    <div class="login_logo">
                        <center>
                            <img src="/static/publisher_app/images/services/footer_logo.PNG" alt="Ahsan Logo"> <br>
                            <h2>Login</h2> 
                        </center>
                    </div>
                    <!-- <div class="api_login">
                        <center>
                            <button class="facebook_btn"><img src="/static/publisher_app/images/Facebook_Logo.png" alt=""> Facebook </button>
                            <button class="google_btn"><img src="/static/publisher_app/images/google_icon.png" alt=""> Google</button><br>
                        </center>
                        <div class="login_content">
                            <p>Enter mobile number and password to login</p>
                            <p><strong>OR</strong></p>
                        </div>
                    </div> -->
                    
                     <h4 id="login_error_msg"></h4>
                    <br>
                    <div class="form-group"> 
                        <input type="number" class="form-control" id="your_mobile" placeholder="Email or Mobile" onkeypress="return event.charCode >= 48" min="1" > 
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Enter Password">
                    </div>
                    <div class="form-group"> 
                        <button type="submit" class="login_btn" id="LoginSubmit" style="width: 100px;" >Login</button>
                    </div>
                    <span>Don't have an account? <a href="/customer/registration/"> Registration</a></span>
                    
                </div>
            </div>
        </div>
    </div>

</section>

<script src="{% static 'publisher_app/js/jquery.js' %}"></script>  
<script>
    $("#login_error_msg").hide();
    $("#LoginSubmit").click(function(){
        var your_mobile = $("#your_mobile").val();
        var password = $("#password").val(); 
        $.ajax({
            url: "/customer/login/",
            type:'GET',
            data : {
                your_mobile : your_mobile,
                password : password, 
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data){
                if(data == "Login Successful")
                { 
                    window.location.href = "/my-account/";
                }
                else{
                    $("#login_error_msg").show();
                    $("#login_error_msg").html(data);
                }
            },
            error: function(data){
                alert(data);
            },
        })
    })
</script>
 
{% endblock %}