{% extends 'durbar_shop/base.html' %}
{% block title %} Login | durbar_shop {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}


<style> 
    .container_login{
        background: #ffffff;
        box-shadow: 0px 0px 3px gray;
        margin-top:13%;
        border-radius: 5px;
    }
    .login_box{
        background: #fff;
        overflow: hidden;
        border-radius: 5px;
    }
    .login_box img {width:90%;margin:5px auto; display: block;}
    .login_box a h2{color:#fff;margin-top: 25px;text-align: center;font-weight: bold;font-size: 40px}
    .login_box a{color:#fff;text-decoration: none;}
    .container_login form{
        padding:20px;
    }
    .container_login form h2{
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .container_login a:hover{text-decoration: none;}
</style>

<section>
    <div class="container">
        <div class="row"> 
            <div class="col-sm-4"></div>

            <div class="col-sm-4"> 
                <div class="container_login"> 
                    <div class="login_box">
                        <a href="/">
                            <img src="/static/durbar_shop/images/DurbarShop.png" alt=""> <hr>
                        </a>
                    </div>
                    <form action="" method="post">  {% csrf_token %}
                        <!-- <h2>Customer Login</h2> -->
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group"> 
                            <label for="UserMobile"><strong>Mobile </strong></label>
                            <input type="number" name="your_mobile" class="form-control" placeholder="Mobile Numner...">
                        </div>
                        <div class="form-group"> 
                            <label for="password"><strong>Password</strong></label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group"> 
                            
                            <input type="submit" name="submit" class="btn btn-success" value="Login" />
                        </div>
                        <div class="form-group"> 
                            
                            <a href="/customer/registration/">Create A New Account</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-4"></div>
        </div>
    </div>

</section>


{% endblock %}