<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Profile</title>
</head>
<style>
    h4{
        font-size: 24px;font-family: 'Times New Roman', Times, serif;
        padding-bottom:4px; 
    }
    h3{
        font-size: 24px;font-family: 'Times New Roman', Times, serif;
        padding-bottom:4px; line-height: 20px;margin-left:10px;
    }
    img{
        width:70px;height:70px;margin:10px auto;border-radius: 50%;
    }
    .table_information tr td p{
        margin-bottom:0px; line-height: 10px;

    }
    .table_information_details p{font-size: 14px;padding:4px 6px 0px 6px;margin:3px;line-height: 15px;}
    .table_employee_hostory p{font-size: 14px;padding:4px 6px 0px 6px;margin:3px;line-height: 15px;}
</style>
<body>
    <table style="padding:15px 0 7px 0;border:1px solid #ccc;border-radius: 5px;">
        <tr>
            <td>
                <center>
                    <u><h4>Employee Profile</h4></u>
                </center>
            </td>
        </tr>
    </table>

    <table style="margin-top:8px">
        <tr>
            <td style="width:30%;">
               <table style="border:1px solid #ccc;padding:3px 6px 0px 6px" class="table_information2">
                   <tr>
                       <td>
                            <center>
                                <img src="http://127.0.0.1:8000/static/durbar_shop/images/index.jpg" alt="">
                                <h2>Tofazzal Hossain Bhuiyan</h2>
                            </center>
                        
                       </td>
                   </tr>
                   <tr>
                       <td> 
                           <p style="padding-top:10px;"><strong>VISA:</strong> THB_BD1</p>
                           <p><strong>Zone:</strong> THB_BD1</p>
                           <p><strong>Region:</strong>  </p>
                           <p><strong>VISA:</strong> THB_BD1</p>
                           <p><strong>Zone:</strong> THB_BD1</p>
                           <p><strong>Region:</strong>  </p>
                           <p><strong>VISA:</strong> THB_BD1</p>
                           <p><strong>Zone:</strong> THB_BD1</p>
                           <p><strong>Region:</strong>  </p>
                           <p><strong>VISA:</strong> THB_BD1</p>
                           <p><strong>Zone:</strong> THB_BD1</p>
                           <p><strong>Region:</strong>  </p>
                           <p><strong>VISA:</strong> THB_BD1</p>
                           <p><strong>Zone:</strong> THB_BD1</p>
                           <p><strong>Region:</strong>  </p>
                           <p><strong>VISA:</strong> THB_BD1</p>
                           <p><strong>Zone:</strong> THB_BD1</p>
                           <p><strong>Region:</strong>  </p>
                           <p><strong>Region:</strong>  </p>
                           <p><strong>VISA:</strong> THB_BD1</p>
                           <p><strong>Zone:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                           <p><strong>Strength:</strong>  Planning, Ability to delegate, Conflict resolution, Knowledge, Versatility, </p>
                   
                          <br><br><br><br>
                          <br><br><br><br>
                          <br><br><br><br>
                        </td>
                   </tr>
                   
               </table>
            </td>
            <td style="width:2%"></td>
            <td style="width:68%;background:rgb(230, 230, 230);">
               <table class="table_information_details">
                   <tr>
                       <td>
                           <br>
                           <h3><u>Educational Qualification</u></h3>
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <p><strong>Exam : </strong> MBA</p>
                           <p><strong>Institution/University  : </strong> </p>
                           <p><strong>Major   : </strong> </p>
                           <p><strong>Passing Year   : </strong> </p>
                           <p><strong>Duration    : </strong> </p>
                           <p><strong>Result     : </strong> </p>
                           <p><strong>Document      : </strong> </p>
                       </td>
                   </tr>
                   <tr>
                        <td style="padding:4px 6px 0px 6px;height:16px;border-bottom:1px solid #ccc;">
                            
                        </td>
                   </tr>
                    <tr>
                        <td style="padding:0px 0px 3px 0px">
                            <p><strong>Exam : </strong> MBA</p>
                            <p><strong>Institution/University  : </strong> </p>
                            <p><strong>Major : </strong> </p>
                            <p><strong>Passing Year : </strong> </p>
                            <p><strong>Duration : </strong> </p>
                            <p><strong>Result : </strong> </p>
                            <p><strong>Document : </strong> </p>
                        </td>
                    </tr>
               </table>
               <br>
               <hr>
               <table style="margin-top:20px;" class="table_employee_hostory">
                   <tr>
                       <td>
                           <h3><u>Employement History (17.8.8)</u></h3>
                       </td>
                   </tr>
                   <tr>
                       <td style="padding:4px 6px 0px 6px;">
                           <p><strong>Company Name : </strong></p>
                           <p><strong>Job Title : </strong></p>
                           <p><strong>Designation : </strong></p>
                           <p><strong>Duration  : </strong></p>
                           <p><strong>Experience  : </strong></p>
                           <p><strong>Documents : </strong></p>
                       </td>
                   </tr>
                   <tr>
                        <td style="padding:4px 6px 0px 6px;height:16px;border-bottom:1px solid #ccc;">
                            
                        </td>
                    </tr>
                   <tr>
                       <td style="padding:4px 6px 0px 6px;">
                           <p><strong>Company Name : </strong></p>
                           <p><strong>Job Title : </strong></p>
                           <p><strong>Designation : </strong></p>
                           <p><strong>Duration  : </strong></p>
                           <p><strong>Experience  : </strong></p>
                           <p><strong>Documents : </strong></p>
                       </td>
                   </tr>
                   
               </table>
               <br>
               <hr>

               <table style="margin-top:0px;" class="table_employee_hostory">
                   <tr>
                       <td>
                           <h3><u>Training History</u></h3>
                       </td>
                   </tr>
                   <tr>
                       <td style="padding:4px 6px 0px 6px;">
                           <p><strong>Training Title  : </strong></p>
                           <p><strong>Training Location  : </strong></p>
                           <p><strong>Training Details   : </strong></p>
                           <p><strong>Duration  : </strong></p>
                           <p><strong>Days   : </strong></p>
                           <p><strong>Document    : </strong></p>
                           
                       </td>
                   </tr>
                   
                  
               </table>
            </td>
        </tr>
    </table>
</body>
</html>