{% extends 'publisher_app/base.html' %}
{% block title %}  Refund Policy {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}

<section>
    <div class="about_page_content">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 about_page_about_content">
                    <div class="about_content">
                        <h5><strong> Refund Policy </strong></h5>  
                    </div>
                    <div class="why_buy_book_on_durbarshop">
                        <br> 
                        <h5> <strong> আহসান পাবলিকেশন থেকে কেন কিনবেন? </strong></h5>
                        <p> <i class="fa fa-hand-o-right"></i> প্রতিটি পাঠককেই আমাদের মুল্যবান গ্রাহক হিসেবে খ্যাত । </p>
                        <p> <i class="fa fa-hand-o-right"></i> আমাদের কল সেন্টার সেবার মাধ্যমে আপনার কলগুলি নিতে এবং ইমেলের উত্তর দিতে প্রস্তুত। </p>
                        <p> <i class="fa fa-hand-o-right"></i> নিজেদের কুরিয়ার সেবা দ্বারা ডেলিভারি কার্যক্রম পরিচালনা । </p>
                        <p> <i class="fa fa-hand-o-right"></i> সাড়াদেশে ক্যাশ অন ডেলিভারি ও পোস্ট অফিসের মাধ্যমে বই পৌছানোর ব্যবস্থা। </p>
                        <p> <i class="fa fa-hand-o-right"></i> সঠিক অর্ডার পণ্য পাঠকদের হাতে পৌঁছে দেওয়া । </p> 
                        <p> <i class="fa fa-hand-o-right"></i> প্রতিটি অর্ডার পুনঃঅর্ডার ব্যবস্থা থাকা। </p> 
                    </div>
                    <div class="our_key_goal">
                        <br>
                        <h5><strong>আমাদের লক্ষ্য ও উদ্দেশ্য</strong></h5>
                        <p>
                            ন্যায্য মূল্যে গুনগত মান সম্পন্ন অরিজিনার বই পাঠকদের হাতে পৌঁছে দেওয়াই আমাদের মূল লক্ষ্য ও উদ্দেশ্য
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}