{% extends 'durbar_shop/base.html' %}
{% block title %} Terms & Conditions {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}

<section>
    <div class="terms-and-conditions_background">
        <div class="terms-and-conditions">
            <h3>Terms & Conditions</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="terms_conditions_text">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>একটা সময় ছিল, যখন মায়ের বকুনির ভয়ে আমরা লুকিয়ে গল্পের বই পড়তাম। তখন পাঠ্যবই কিংবা বালিশকে ঢাল হিসেবে ব্যবহার করে গল্পের বই পড়ার মধ্যে ছিল যেন সীমাহীন আনন্দ। তবে এই আনন্দে প্রায়সময়’ই ভাটা পড়তো। মা এসে ঠিকই বুঝে ফেলতেন, পাঠ্যবইয়ের আড়ালে আমরা গল্পের বই পড়ছি। কেউ কেউ একটু বেশি’ই ঝুঁকি নিতো। বাবার পকেট কেটে তিন গোয়েন্দা বা মাসূদ রানা সিরিজের বই কেনারও নজির আছে। আমাদের বন্ধুদের মধ্যেই এরকম আরও কত গল্প লুকিয়ে আছে! কী সাংঘাতিক তাই না? পাঠক যেমন ঢাকার বাংলাবাজার কিংবা নীলক্ষেত ঘুরে বই সংগ্রহ করছেন, তেমনি ভাবে যেন সুদূর টেকনাফ থেকে তেতুলিয়া বসেও বই সংগ্রহ করতে পারেন, তাও সাশ্রয়ী দামে এবং ঘরে বসে এরকম একটি সার্ভিস আমরা দিচ্ছি। ইসলামি বইয়ের পাশাপাশি রয়েছে জীবন যাপনে প্রয়োজনীয় বইয়ের বিশাল সমাহার। এছাড়া রয়েছে নির্দিষ্টের মূল্যের বইতে ফ্রি শিপিং সহ নিত্যনতুন অফার। আমরা বিশ্বাস করি, একদিন সমাজের প্রতিটি স্তরের, প্রতিটি মানুষ জ্ঞানের আলোয় উজ্জীবিত হবে। আলোকিত হবে গোটা ভুবন। জ্ঞানের আলো জ্বেলে দেবার এই যাত্রায় আপনিও হতে পারেন আমাদের সঙ্গী।</p>
                    
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>একটা সময় ছিল, যখন মায়ের বকুনির ভয়ে আমরা লুকিয়ে গল্পের বই পড়তাম। তখন পাঠ্যবই কিংবা বালিশকে ঢাল হিসেবে ব্যবহার করে গল্পের বই পড়ার মধ্যে ছিল যেন সীমাহীন আনন্দ। তবে এই আনন্দে প্রায়সময়’ই ভাটা পড়তো। মা এসে ঠিকই বুঝে ফেলতেন, পাঠ্যবইয়ের আড়ালে আমরা গল্পের বই পড়ছি। কেউ কেউ একটু বেশি’ই ঝুঁকি নিতো। বাবার পকেট কেটে তিন গোয়েন্দা বা মাসূদ রানা সিরিজের বই কেনারও নজির আছে। আমাদের বন্ধুদের মধ্যেই এরকম আরও কত গল্প লুকিয়ে আছে! কী সাংঘাতিক তাই না? পাঠক যেমন ঢাকার বাংলাবাজার কিংবা নীলক্ষেত ঘুরে বই সংগ্রহ করছেন, তেমনি ভাবে যেন সুদূর টেকনাফ থেকে তেতুলিয়া বসেও বই সংগ্রহ করতে পারেন, তাও সাশ্রয়ী দামে এবং ঘরে বসে এরকম একটি সার্ভিস আমরা দিচ্ছি। ইসলামি বইয়ের পাশাপাশি রয়েছে জীবন যাপনে প্রয়োজনীয় বইয়ের বিশাল সমাহার। এছাড়া রয়েছে নির্দিষ্টের মূল্যের বইতে ফ্রি শিপিং সহ নিত্যনতুন অফার। আমরা বিশ্বাস করি, একদিন সমাজের প্রতিটি স্তরের, প্রতিটি মানুষ জ্ঞানের আলোয় উজ্জীবিত হবে। আলোকিত হবে গোটা ভুবন। জ্ঞানের আলো জ্বেলে দেবার এই যাত্রায় আপনিও হতে পারেন আমাদের সঙ্গী।</p>
                    
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>একটা সময় ছিল, যখন মায়ের বকুনির ভয়ে আমরা লুকিয়ে গল্পের বই পড়তাম। তখন পাঠ্যবই কিংবা বালিশকে ঢাল হিসেবে ব্যবহার করে গল্পের বই পড়ার মধ্যে ছিল যেন সীমাহীন আনন্দ। তবে এই আনন্দে প্রায়সময়’ই ভাটা পড়তো। মা এসে ঠিকই বুঝে ফেলতেন, পাঠ্যবইয়ের আড়ালে আমরা গল্পের বই পড়ছি। কেউ কেউ একটু বেশি’ই ঝুঁকি নিতো। বাবার পকেট কেটে তিন গোয়েন্দা বা মাসূদ রানা সিরিজের বই কেনারও নজির আছে। আমাদের বন্ধুদের মধ্যেই এরকম আরও কত গল্প লুকিয়ে আছে! কী সাংঘাতিক তাই না? পাঠক যেমন ঢাকার বাংলাবাজার কিংবা নীলক্ষেত ঘুরে বই সংগ্রহ করছেন, তেমনি ভাবে যেন সুদূর টেকনাফ থেকে তেতুলিয়া বসেও বই সংগ্রহ করতে পারেন, তাও সাশ্রয়ী দামে এবং ঘরে বসে এরকম একটি সার্ভিস আমরা দিচ্ছি। ইসলামি বইয়ের পাশাপাশি রয়েছে জীবন যাপনে প্রয়োজনীয় বইয়ের বিশাল সমাহার। এছাড়া রয়েছে নির্দিষ্টের মূল্যের বইতে ফ্রি শিপিং সহ নিত্যনতুন অফার। আমরা বিশ্বাস করি, একদিন সমাজের প্রতিটি স্তরের, প্রতিটি মানুষ জ্ঞানের আলোয় উজ্জীবিত হবে। আলোকিত হবে গোটা ভুবন। জ্ঞানের আলো জ্বেলে দেবার এই যাত্রায় আপনিও হতে পারেন আমাদের সঙ্গী।</p>
                    
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>একটা সময় ছিল, যখন মায়ের বকুনির ভয়ে আমরা লুকিয়ে গল্পের বই পড়তাম। তখন পাঠ্যবই কিংবা বালিশকে ঢাল হিসেবে ব্যবহার করে গল্পের বই পড়ার মধ্যে ছিল যেন সীমাহীন আনন্দ। তবে এই আনন্দে প্রায়সময়’ই ভাটা পড়তো। মা এসে ঠিকই বুঝে ফেলতেন, পাঠ্যবইয়ের আড়ালে আমরা গল্পের বই পড়ছি। কেউ কেউ একটু বেশি’ই ঝুঁকি নিতো। বাবার পকেট কেটে তিন গোয়েন্দা বা মাসূদ রানা সিরিজের বই কেনারও নজির আছে। আমাদের বন্ধুদের মধ্যেই এরকম আরও কত গল্প লুকিয়ে আছে! কী সাংঘাতিক তাই না? পাঠক যেমন ঢাকার বাংলাবাজার কিংবা নীলক্ষেত ঘুরে বই সংগ্রহ করছেন, তেমনি ভাবে যেন সুদূর টেকনাফ থেকে তেতুলিয়া বসেও বই সংগ্রহ করতে পারেন, তাও সাশ্রয়ী দামে এবং ঘরে বসে এরকম একটি সার্ভিস আমরা দিচ্ছি। ইসলামি বইয়ের পাশাপাশি রয়েছে জীবন যাপনে প্রয়োজনীয় বইয়ের বিশাল সমাহার। এছাড়া রয়েছে নির্দিষ্টের মূল্যের বইতে ফ্রি শিপিং সহ নিত্যনতুন অফার। আমরা বিশ্বাস করি, একদিন সমাজের প্রতিটি স্তরের, প্রতিটি মানুষ জ্ঞানের আলোয় উজ্জীবিত হবে। আলোকিত হবে গোটা ভুবন। জ্ঞানের আলো জ্বেলে দেবার এই যাত্রায় আপনিও হতে পারেন আমাদের সঙ্গী।</p>


                </div>
            </div>
        </div>
    </div>
    
</section>


{% endblock %}