
<div class="top-bar" id="top_header_with_desktop_version">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- <a href="mailto:{{ profile.email1 }}" style="color:#203040;text-decoration: none;padding-top: 3px;font-family: sans-serif;">Email : {{ profile.email1 }}</a> -->
            </div>
            <div class="col-sm-5 site_top_menu">
                <ul>
                    <li><a href="book/" class="flex-c-m trans-04 p-lr-25">হোম</a></li>
                    <li><a href="" class="flex-c-m trans-04 p-lr-25">ব্লগ</a></li>
                    <li><a href="/about-us/" class="flex-c-m trans-04 p-lr-25">আমাদের সম্পর্কে</a></li>
                    <li><a href="/contact-us/" class="flex-c-m trans-04 p-lr-25">যোগাযোগ</a></li>
                    <li><a href="/complain/" class="flex-c-m trans-04 p-lr-25">অভিযোগ</a></li>
                </ul>
                
            </div>
            <div class="col-sm-4">
                <!-- <h5 style="text-align: right;font-size: 18px;padding-top: 3px;margin-bottom: 2px;"><i class="fa fa-phone"></i> {{ profile.mobile2 }}</h5> -->
            </div>
        </div>
    </div>
</div>