{% extends 'publisher_app/admin_dashboard/dash_base.html' %}
{% block title %} All Order List  {% endblock %}
{% load static %}
{% load data_load %}
{% block content %}

<style>
    .order_table table tr th{font-size:13.5px;padding:9px 8px}
    .order_table table tr td{font-size:14px;vertical-align: middle;}
 
</style>

<div class="container-fluid page_container"> 
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h4 style="margin-bottom: 10px;overflow: hidden;">
                        All Order 
                        <span style="float:right;">
                            <form method="POST"> {% csrf_token %}
                                <input type="text" class="form-control" value="{{search_txt}}" name="SearchOrder" placeholder="Search..." style="width: 250px;">
                            </form>
                        </span>
                    </h4> 
                    
                    <div class="table-responsive order_table">
                        <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr style="background: #15a09d;color: white;"> 
                                    <th style="width:9%;">Order Date</th>
                                    <th style="width:8%;">OrderID</th>
                                    <th style="width:13%;">Customer Name</th>
                                    <th style="width:10%;">Mobile</th>
                                    <th style="width:7%;"> Amount </th>
                                    <th style="width:10%;text-align: center;">Delivery Method</th>
                                    <th style="width:11%;">Payment Method</th>
                                    <th style="width:10%;">Payment Status</th>
                                    <th style="width:9%;">Order Status</th> 
                                    <th style="width:13%" >Action</th>
                                </tr>
                            </thead>
                            <tbody> 
                            {% for ord in all_order %}
                                <tr> 
                                    <td>
                                        {{ ord.order_date|date:"d-m-y" }} <br>
                                        {{ ord.order_date|date:"g:i A" }} 
                                    </td>
                                    <td>{{ ord.order_number }}</td>
                                    <td>{{ ord.customer_name }}</td>
                                    <td> 
                                        <span>{{ ord.customer_mobile }} </span> <br>
                                        <span>{{ ord.optional_number }}</span>  
                                    </td>
                                    <td style="text-align: center;"><span style="font-size: 13px; font-family: serif;">৳ </span>{{ ord.total_amount}}</td>
                                    <td style="text-align: center;">{% if ord.delivery_method.courier_name %} {{ ord.delivery_method.courier_name }} {% else %} Pending {% endif %} {% if ord.service_code %} <br> <p style="color:rgb(28, 112, 83);margin: 0;">({{ ord.service_code }})</p> {% endif %} </td>
                                    <td style="text-align: center;">
                                        <p style="margin:0px">{{ ord.get_payment_method_display }} </p>
                                        {% if ord.payment_amount %}<p style="margin:0px">Tk. {{ ord.payment_amount }}</p> {% endif %}
                                        {% if ord.payment_number %} <p style="margin:0px">{{ ord.payment_number }}</p>{% endif %}
                                    </td>
                                    <td style="text-align: center;">
                                        {% if ord.payment_status == '1' %}
                                            <span class="Pending_button">Pending</span>
                                        {% elif ord.payment_status == '2' %}
                                            <span class="Unpaid_button">Unpaid</span>
                                        {% elif ord.payment_status == '3' %}
                                            <span class="Paid_button">Paid</span>
                                        {% elif ord.payment_status == '4' %}
                                            <span class="Refund_button">Refund</span>
                                        {% endif %} 
                                    </td>
                                    <td>
                                        {% if ord.order_status == '1' %} 
                                            <span class="pending_button">Pending</span>
                                        {% elif ord.order_status == '2' %}
                                            <span class="Confirmed_button">Confirmed</span>
                                        {% elif ord.order_status == '3' %}
                                            <span class="Packed_button">Packed</span>
                                        {% elif ord.order_status == '4' %}
                                            <span class="Shipping_button">Shipping</span>
                                        {% elif ord.order_status == '5' %}
                                            <span class="Delivered_button">Delivered</span>
                                        {% elif ord.order_status == '6' %}
                                            <span class="Returned_button">Returned</span>
                                        {% elif ord.order_status == '7' %}
                                            <span class="Canceled_button">Canceled</span>
                                            {% elif ord.order_status == '8' %}
                                                <span class="Canceled_button">Hold Order</span>
                                        {% endif %} 
                                    </td> 
                            
                                    <td class="positionTableTd">
                                        {% if ord.order_status == '5' %}
                                            <button data-toggle="tooltip" title="Update" class="btn btn-warning" style="padding: 4px 6px;font-size: 13px;" disabled> Delivery </button>
                                        {% else %}
                                            <a data-toggle="tooltip" title="Update" href="/dashboard-orders-details/{{ord.order_number}}/" class="btn btn-warning" style="padding: 4px 6px;font-size: 13px;"> Update </a>
                                        {% endif %}
                                        <a data-toggle="tooltip" target="_blank" title="View" href="/dashboard/orderWiseView/{{ord.order_number}}/" class="btn btn-info" style="padding: 4px 6px;font-size: 13px;"> <i class="fa fa-eye"></i> </a>
                                        <button type="button" class="btn btn-primary PrintCustomerInvoice" data-toggle="modal"  data-id="{{ ord.order_number }}" style="padding:2px 10px"><i class="fa fa-print"></i></button>
                                    </td>
                                </tr> 
                            {% endfor %}        
                            </tbody>
                        </table>
  
                    </div>
                </div>
            </div>           
        </div>
    </div>

</div>

<style>
    .purchase_order_book_modal{
        width:1100px  !important; margin:3% auto !important;
    }
    .billing_address p{margin-bottom: 1px;}
    .billing_address h3{margin-bottom: 1px;}
    .billing_address h4{margin-bottom: 1px;}
    .billing_address h5{margin-bottom: 1px;}
    .billing_address h6{margin-bottom: 1px;}
    .product_invoice_table{margin-top: 25px;}
</style>


<!-- Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="OrderPrintByClick" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog purchase_order_book_modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Order Details</h5>
          <button type="button" class="btn btn-danger" id="close_modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="overflow-y:auto"  id="printableArea">   
            <div class="container" id="printableArea"> 
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header" style="border:1px solid #ccc; background:rgb(241, 241, 241);width:100%;margin-bottom:6px;padding:5px;">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="web_logo" style="width:240px;padding:5px;">
                                        <img src="/static/publisher_app/images/services/footer_logo.PNG" alt="" style="width:170px;height:70px">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <p style="text-align: right;margin: 0px;padding-right: 10px;line-height: 21px;margin-top: 4px;">38 Banglabazar, Dhaka-1100 </p>
                                    <p style="text-align: right;margin: 0px;padding-right: 10px;line-height: 21px;">Email : info@ahsan.com.bd</p>
                                    <p style="text-align: right;margin: 0px;padding-right: 10px;line-height: 21px;">Phone : 01902353773, <span style="margin-left:8px">Web : www.ahsan.com.bd</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="billing_address">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4>Order Info</h4>
                                    <input type="text" id="order_number" value="{{ get_order_info.order_number }}" hidden>
                                    <p>Order Date : {{ get_order_info.order_date|date }}</p>
                                    <p>Order Id : {{ get_order_info.order_number }}</p>
                                    <p>Payment Status  : {{ get_order_info.get_payment_status_display}}</p>
                                    <p>Payment Method  : {{ get_order_info.get_payment_method_display}}</p>
                                    <p>Delivery Method  : {{ get_order_info.get_delivery_method_display }}</p>  
                                </div> 
                                <div class="col-sm-2"></div>
                                <div class="col-sm-5">
                                    <h4>Delivery Info</h4>
                                    <p style="font-family: 'AdorshoLipi';"> Name : {{ get_order_info.delivery_per_name}}</p>
                                    <p>Mobile : {{ get_order_info.customer_mobile}} {% if get_order_info.optional_number %}, {{ get_order_info.optional_number}} {% endif %}</p>
                                    {% if get_order_info.customer_email %}<p>Email : {{ get_order_info.customer_email}}</p> {% endif %}
                                    <p style="font-family: 'AdorshoLipi';">Address : {{ get_order_info.shipping_address}}</p> 
                                    <p>{% if get_order_info.postal_code_id == 1 or get_order_info.postal_code_id == null %} {% else %} Post/Area : {{ get_order_info.postal_code.post_office_english}}, {% endif %} {{ get_order_info.upozilla.upozilla_name_english}}, {{ get_order_info.district.district_name_english}}</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-12">
                        <table class="table table-bordered product_invoice_table">
                            <tr>
                                <th style="width:3%">SL</th>
                                <th style="width:59%">Product Name</th>
                                <th style="width:18%;text-align: center;">Unit Price</th>
                                <th style="width:5%">Qty</th>
                                <th style="width:10%">Total Price</th>
                            </tr>
                            {% for value in order_wise_product %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>
                                    <p style="font-size:16px;margin: 0;font-family: 'AdorshoLipi';">{{ value.book_name_bangla }} <span style="font-size: 14px;">(লেখকঃ {{ value.writter_name_bangla }} - {{value.publisher_name_bangla}})</span></p>
                                </td>
                                <td style="text-align:center;"><span style="font-size: 16px;font-family: sans-serif;">৳</span> {% if value.discount == 0 %} Fixed Price {% else %}<del> {{ value.book_price }}</del>{% endif %} &nbsp;&nbsp; <strong> {{ value.sale_price }}</strong>  </td>
                                <td style="text-align:center;">{{ value.book_quantity }}</td>
                                <td style="text-align:center;"><span style="font-size: 16px;font-family: sans-serif;">৳</span> {{ value.total_price }}</td>
                            </tr>
                            {% endfor %}
                        </table> 
                        <div class="row">
                            <div class="col-sm-8">
                                <br>
                                <center><p style="font-family: 'AdorshoLipi';"><strong> <i class="fas fa-hands-helping"></i>  আহসান শপ   </strong>এর সাথে থাকার জন্য ধন্যবাদ।</p></center>
                                <p style="font-family: 'AdorshoLipi';"> <strong> বিঃদ্রঃ -</strong> কাস্টমারকে ফোনে পাওয়া না গেলে অফিসে যোগাযোগ করুনঃ- <strong style="font-size:20px;">০১৯০২৩৫৩৭৭৩</strong> </p> 
                                        
                            </div>
                            <div class="col-sm-4">
                                <div id="totalSummaryTable" style="position: relative; width:100%;">
                                    <table class="table table-bordered table-striped"  style="float:right">
                                        <tr class="subtutoa_tr">
                                            <th colspan="4" style="text-align:right;">Subtotal</th>
                                            <th style="text-align:center;">Tk. {{ total_order_price }}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="4" style="text-align:right;">Shipping Charge</th>
                                            <th style="text-align:center;">Tk. {{ get_order_info.shipping_charge }}</th>
                                        </tr>
                                        <tr class="subtutoa_tr">
                                            <th colspan="4" style="text-align:right;"><strong>Grand Total</strong></th>
                                            <th style="text-align:center;">Tk. {{ grand_total }}</th>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="text-align:right;"><strong>Payable Amount</strong></td>
                                            <th style="text-align:center;">Tk. {{ total_payable }}</th>
                                        </tr>
                                    </table>
                                    
                                    <div class="paidIcon" style="position: absolute; width: 100%; height: 142px;">
                                        {% if shipping_info.payment_status == '3' %}
                                            <img src="/static/publisher_app/images/paidicon.png" alt="" style="width: 226px; opacity: 0.3; float: right; margin: 10px;">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
      </div>
    </div>
  </div>

  {% include "publisher_app/admin_dashboard/orders/order_view_popup.html" %} 
  
<script src="{% static 'publisher_app/admin_dashboard/js/jquery.min.js' %}"></script> 
<script src="{% static 'publisher_app/admin_dashboard/js/select2.js' %}"></script>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
 
<script>
    $(document).ready(function(){
        $('#dataTable').DataTable({
            "ordering": false,
            
        });
    }) 


    // OrderPrintByClick 
    $('.OrderPrintByClick').click(function(){
        order_number = $(this).data('id');   
    })


</script>


{% endblock %}
