{% extends 'durbar_shop/dashboard/dash_base.html' %}
{% block title %} Order List || Dashboard  {% endblock %} 
{% load static %}
{% block content %}
<link href="{% static 'durbar_shop/dashboard/css/select2.css' %}" rel="stylesheet">
<div class="container-fluid page_container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page_header_bar"> Update Order Items  <span><a href="/dashboard/order-list/">Order List</a></span> </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="POST"> {% csrf_token %}
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 150px;">Customer Name</th>
                                <td>
                                    <input type="text" name="customer_name"   value="{{ cust_name }}" class="form-control" disabled>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 150px;">Order Id</th>
                                <td>
                                    <input type="text" value="{{ OrderNumber }}" class="form-control" disabled>
                                    <input type="text" name="order_number"  value="{{ OrderNumber }}" class="form-control" hidden>
                                </td>
                            </tr>
                            <tr>
                                <th>Order Date</th>
                                <td>
                                    <input type="date" name="order_date"  value="{{ order_date|date:'Y-m-d' }}" class="form-control" disabled>
                                </td>
                            </tr>
                            <tr>
                                <th>Payable Amount</th>
                                <td>
                                    <input type="number" name="total_book_price"   value="{{ ordprice }}" class="form-control" disabled>
                                </td>
                            </tr>
                            <tr>
                                <th>Delivery Method</th>
                                <td>
                                    <select name="delivery_method"  class="form-control">
                                        <option value="1" {% if delivery_method == '1' %} selected {% endif %} >Pending</option>
                                        <option value="2" {% if delivery_method == '2' %} selected {% endif %} >Durbar Courier</option>
                                        <option value="3" {% if delivery_method == '3' %} selected {% endif %} >Sundarban Courier</option>
                                        <option value="4" {% if delivery_method == '4' %} selected {% endif %} >Post Office</option>
                                        <option value="5" {% if delivery_method == '5' %} selected {% endif %} >Delivery Tiger</option>
                                        <option value="7" {% if delivery_method == '7' %} selected {% endif %} >PaperFly</option>
                                        <option value="6" {% if delivery_method == '6' %} selected {% endif %} >Others</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Service Code</th>
                                <td>
                                    <input type="text" class="form-control" name="service_code" value="{{ service_code }}">
                                </td>
                            </tr>
                            <tr>
                                <th>Service Charge</th>
                                <td>
                                    <input type="text" class="form-control" name="service_charge" value="{{ service_charge }}">
                                </td>
                            </tr>
                            <tr>
                                <th>Pyment Method</th>
                                <td>
                                    <select name="payment_method"  class="form-control">
                                        <option value="1" {% if payment_method == '1' %} selected {% endif %}>Cash on Delivery</option>
                                        <option value="2" {% if payment_method == '2' %} selected {% endif %}>Bkash</option>
                                        <option value="3" {% if payment_method == '3' %} selected {% endif %}>Rocket</option>
                                        <option value="4" {% if payment_method == '4' %} selected {% endif %}>Nagad</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Pyment Status</th>
                                <td>
                                    <select name="payment_status" id="" class="form-control">
                                        <option value="1" {% if payment_status == '1' %} selected {% endif %}>Pending</option>
                                        <option value="2" {% if payment_status == '2' %} selected {% endif %}>Unpaid</option>
                                        <option value="3" {% if payment_status == '3' %} selected {% endif %}>Paid</option>
                                        <option value="4" {% if payment_status == '4' %} selected {% endif %}>Refund</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Order Status</th>
                                <td>
                                    <select name="order_status"  class="form-control">
                                        <option value="1" {% if order_status == '1' %} selected {% endif %}>Pending</option>
                                        <option value="2" {% if order_status == '2' %} selected {% endif %}>Confirmed</option>
                                        <option value="3" {% if order_status == '3' %} selected {% endif %}>Packed</option>
                                        <option value="4" {% if order_status == '4' %} selected {% endif %}>Shipping</option>
                                        <option value="5" {% if order_status == '5' %} selected {% endif %}>Delivered</option>
                                        <option value="6" {% if order_status == '6' %} selected {% endif %}>Returned</option>
                                        <option value="8" {% if order_status == '8' %} selected {% endif %}>Hold</option>
                                        <option value="7" {% if order_status == '7' %} selected {% endif %}>Canceled</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>জেলা</th>
                                <td>   
                                    <select  name="district_name" id="district_name" class="form-control">
                                        <option value="0">জেলা সমূহ </option>
                                        {% for dis in district %}
                                            {% if district_id == dis.id %}
                                                <option value="{{ dis.pk }}" selected>{{ dis.district_name_bangla }}</option>
                                            {% else %}
                                                <option value="{{ dis.pk }}">{{ dis.district_name_bangla }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select> 
                                </td>
                            </tr>
                            <tr>
                                <th>থানা </th>
                                <td>    
                                    <select name="upozilla_name" id="upozilla_name" class="form-control upozilla_name" required>
                                        <option value="">Upozilla </option>   
                                    </select> 
                                </td>
                            </tr>
                            <tr>
                                <th>পোস্ট অফিস</th>
                                <td>    
                                    <select name="postal_code" id="postal_code" class="form-control">
                                         
                                    </select> 
                                </td>
                            </tr>
                            <tr>
                                <th>Full Adress</th>
                                <td>
                                    <textarea name="full_address" class="form-control" rows="2"> {{ full_address }}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>Note</th>
                                <td>
                                    <textarea name="customer_note" class="form-control" rows="2">{{ note }}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input type="submit" value="Update" name="submit" class="btn btn-info">
                                        
                                </td>
                            </tr>
                        </table> 
                    </form>
                </div>
            </div>           
        </div>
    </div>

</div>


<script src="{% static 'durbar_shop/dashboard/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'durbar_shop/dashboard/js/select2.js' %}"></script>
    
<script>
    $(document).ready(function(){  
        var url = '/dashboard/bind-district-upozilla/';
        $.ajax({
            url: url,
            data: {
                'district_name': $('#district_name :selected').val(),
            },
            success: function (data) {
                $("#upozilla_name").html(data);
            }
        });
        
    });
    
    $('#district_name').change(function(){  
        var url = '/dashboard/bind-district-upozilla/';
        $.ajax({
            url: url,
            data: {
                'district_name': $('#district_name :selected').val(),
            },
            success: function (data) {
                $("#upozilla_name").html(data);
            }
        });
        
    });
    


</script>

<script>
	$('#upozilla_name').click(function(){
		var distict_value = $('#district_name').val();
		if(distict_value == 0){
			alert("অনুগ্রহ করে জেলা নির্বাচন করুন ।"); 
		}
	});

	$('#postal_code').click(function(){
		var upozilla_name = $('#upozilla_name').val();
		if(upozilla_name == 0){
			alert("অনুগ্রহ করে থানা নির্বাচন করুন ।"); 
		}
	});

  
    
    $(document).ready(function(){  
        $('#upozilla_name').on('load', function(){  
            alert("This is loaded");
             
        });
    });

    $('#upozilla_name').change(function(){  
        var url = '/dashboard/bind-upozilla-wise-post-office/';
        $.ajax({
            url: url,
            data: {
                'upozilla_name': $('#upozilla_name :selected').val(),
            },
            success: function (data) {
                $("#postal_code").html(data);
            }
        });
    });

   
    window.onload = function(){
        setTimeout(loadAfterTime, 300)
    };
 
    function loadAfterTime() { 
        var url = '/dashboard/bind-upozilla-wise-post-office/';
        $.ajax({
            url: url,
            data: {
                'upozilla_name': $('#upozilla_name :selected').val(),
            },
            success: function (data) {
                $("#postal_code").html(data);
            }
        });
        
    }
  
</script>





{% endblock %}
