{% extends 'publisher_app/base.html' %} 
{% block title %} Ahsan || Aamarpay Successfully {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}
  
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Payment Successfully</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam natus ipsum nisi, quae delectus, excepturi ab, earum voluptate nesciunt eos est iste. Optio magnam nesciunt quia iste exercitationem, rerum dolorum ex officia maxime, deleniti labore quibusdam? Numquam ut voluptas ipsam tempore in repudiandae a veniam reprehenderit sed illum distinctio sequi ex quae saepe, officiis error. Autem consequatur a doloremque laborum, nam officia quod sequi architecto tempora, reiciendis eligendi illo quam vel ex veniam odio quidem. Nobis, consectetur est similique vel ad asperiores ea et repellat, eaque doloribus ut ab dignissimos, id quibusdam deleniti temporibus maiores. Nostrum numquam assumenda aliquam nisi?</p>
        </div>
    </div>
</div>


{% endblock %}