{% extends 'publisher_app/base.html' %} 
{% block title %} Ahsan || Aamarpay Successfully {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}

<style>
    .paymentSuccessful{
        width:60%;
        margin: 50px auto;
        box-shadow: 0px 1px 4px gray;
        padding:50px;
        border-radius: 5px;
    }
    .paymentSuccessful img{
        width:250px;
        height:250px;
        margin:10px auto;
        display: block;
    }
    .paymentSuccessful h2{
        text-align: center;
        color:rgb(10, 96, 92)
    }
    .paymentSuccessful p{
        text-align: center;
        font-size: 20px;
    }
</style>
  
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="paymentSuccessful">
                <img src="/static/publisher_app/images/payment_seccess.jpg" alt="">
                <h2>Your payment was successful</h2>
                <p>Thank you for your payment. <br> We will be in contact with more details shortly.</p>
                <p><a href="/" class="btn btn-success">Go to homepage</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}