{% extends 'publisher_app/base.html' %}
{% block title %} Update Profile {% endblock %}
{% load data_load %}
{% load static %}
{% block content %}
 
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="my_account_menu">
                    <ul>
                        <li><a href="/my-account/" class="my_acc_menu_active"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="/order-list/"><i class="fa fa-list-ol"></i> Order</a></li>
                        <li><a href="">Wishlist</a></li>
                        <li><a href="">Wallet</a></li>
                        <li><a href="">Notification</a></li>
                        <li><a href="/logout/">Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="my_account_dashboard" style="padding: 20px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Update Profile</h4>
                            <form method="POST" enctype="multipart/form-data"> {% csrf_token %} 
                                <table>
                                    <tr> 
                                        <th></th>
                                        <td>
                                            <fieldset>
                                                <div class="img_box">
                                                    {% if get_pro_id.profile_images %}
                                                        <img id="profile_images_load" src="/static/publisher_app/media/{{ get_pro_id.profile_images }}" alt="book image" />
                                                    {% else %}
                                                        <img id="profile_images_load" src="/static/publisher_app/images/author.png" alt="book image"  />
                                                    {% endif %}
                                                </div>
                                                <input type='file' id="profile_images" name="profile_images" style="border:none;" />
                                            </fieldset>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Name </th>
                                        <td>
                                            <input type="text" name="customer_name" value="{{ get_pro_id.customer_name }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Phone </th>
                                        <td>
                                            <input type="text" name="customer_mobile" value="{{ get_pro_id.mobile }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email </th>
                                        <td>
                                            <input style="font-family: arial" type="email" name="customer_email" value="{{get_pro_id.email }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Address </th>
                                        <td>
                                            <input type="text" name="full_address" value="{{ get_pro_id.address }}">
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th></th>
                                        <td>
                                            <input type="submit" class="update_probile_btn"  value="Update Profile" >
                                        </td>
                                    </tr>
                                </table> 
                            </form>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'publisher_app/js/jquery.js' %}"></script>  
<script>
    $("#data_Dismiss_load").click(function(){
        window.location.href = "/order-list/";
    })

    function profile_images(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
            $('#profile_images_load').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#profile_images").change(function() {
        profile_images(this);
    });


</script>


{% endblock %}

