{% extends 'publisher_app/admin_dashboard/dash_base.html' %}
{% block title %} Sub Category List || Dadhboard  {% endblock %}
{% load static %}
{% block content %} 

<style>
    .dataTable-dropdown label{text-transform: capitalize !important;font-weight: normal !important;}
</style>
<div class="container-fluid page_container"> 
    <div class="row">
        <div class="col-sm-12"> 
            <div class="card shadow mb-4">
                <h4 class="page_header_bar">Sub Category List <span> <a href="/master-subcategory-add/">Sub Category Add</a> </span></h4>
                <div class="card-body"> 
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %} 
                    <table class="table table-striped" id="datatablesSimple" >
                        <thead>
                            <tr style="background: #15a09d;color:white">
                                <th>SL</th> 
                                <th>Sub category Name</th> 
                                <th>Master Category Name</th>
                                <th>Regular Category Name</th>
                                <th>IS Homepage</th>
                                <th>IS Mainmenu</th>
                                <th style="width:60px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cat in sub_category_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ cat.sub_category_bangla }}</td> 
                                <td>{{ cat.master_category.cat_name_bangla }}</td> 
                                <td>{{ cat.regular_category.cat_name_bangla }}</td> 
                                <td>
                                    {% if cat.Is_homepage %}
                                        <p style="margin: 0;color:green;">Show Homepage</p>
                                    {% else %}
                                        <p style="margin: 0;color:#333;">Hide Homepage</p>
                                    {% endif %}
                                    
                                </td>
                                <td>
                                    {% if cat.Is_mainmenu %}
                                        <p style="margin: 0;color:green;">Show Mainmenu</p>
                                    {% else %}
                                        <p style="margin: 0;color:#333;">Hide Mainmenu</p>
                                    {% endif %}
                                </td>
                                <td style="width:130px">
                                    <a style="font-size:13px;padding:3px 10px;" href="/master-subcategory/{{ cat.id }}/edit/" class="btn btn-warning">Edit</a>
                                    <a style="font-size:13px;padding:3px 10px;" onclick="return confirm('Are you sure delete sub category?')"  href="/master-subcategory/{{ cat.id }}/delete/" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
</div> 
 
{% endblock %}
