<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <style>
        *{margin:0px;padding:0px}
        .accessDeniedPage{
            margin:0px;
            padding:0px;
            background: #203040;
            overflow: hidden;
            height:100vh;
        }
        .accessDeniedPage img{
            display: block;
            width: 350px;
            margin : 10% auto;
            border-radius: 10px;
            box-shadow: 0px 3px 10px #ededed;
        }
    </style>
</head>
<body>
    <div class="accessDeniedPage">
        <!-- <img src="/static/publisher_app/images/service/access_denied.gif" alt="Access Denied"> -->
        <img src="/static/publisher_app/images/services/access_denied.gif" alt="Access Denied">
    </div>
</body>
</html>