<!DOCTYPE html>
<html lang="en">
    <head> 
        {% load static %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> Ahsan Dashboard Publisher</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />  
        <link href="{% static 'publisher_app/admin_dashboard/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'publisher_app/admin_dashboard/css/custom.css' %}" rel="stylesheet" />
        <link href="{% static 'publisher_app/admin_dashboard/css/select2.css' %}" rel="stylesheet" />
        <link href="{% static 'publisher_app/admin_dashboard/css/pagination.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/admin-dashboard"> Dashboard</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                             
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#OrderInfo" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Order Info
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="OrderInfo" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/dashboard/orders/all-order/">All Order</a> 
                                    <a class="nav-link" href="/dashboard/orders/pending-orders/">Pending Orders</a> 
                                    <a class="nav-link" href="/dashboard/orders/confirmed-orders/">Confirmed Orders</a> 
                                    <a class="nav-link" href="/dashboard/orders/packed-orders/">Packed Orders</a> 
                                    <a class="nav-link" href="/dashboard/orders/shipping-orders/">Shipping Orders</a> 
                                    <a class="nav-link" href="/dashboard/orders/delivery-orders/">Delivered Orders</a> 
                                    <a class="nav-link" href="/dashboard/orders/returned-orders/">Returned Orders</a> 
                                    <a class="nav-link" href="/dashboard/orders/canceled-orders/">Cancelled Order</a> 
                                    <a class="nav-link" href="/dashboard/orders/hold-orders/">Hold Order</a>  
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#BookInfo" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa fa-book"></i></div>
                                Book Info
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="BookInfo" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/products/add-new-book/"><i class="fa fa-paper-plane" style="margin-right: 10px;"></i> Add BooK </a>
                                    <a class="nav-link" href="/products/add-package-book/"><i class="fa fa-paper-plane" style="margin-right: 10px;"></i> Add Package BooK </a>
                                    <a class="nav-link" href="/products/book-list/"> <i class="fa fa-paper-plane" style="margin-right: 10px;"></i> Book List</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#Products_menu" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Products
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="Products_menu" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/products/add-new-product/">Add Product</a>
                                    <a class="nav-link" href="/products/product-list/">Product List</a>
                                </nav>
                            </div>

                            <a class="nav-link" href="/master-category-list/">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Master Category List
                            </a> 

                            <a class="nav-link" href="/book-category-list/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Regular Category List
                            </a> 
                            <a class="nav-link" href="/master-subcategory-list/">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Sub Category List
                            </a>  
                             
                            <a class="nav-link" href="/book-author-list/">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Author List
                            </a> 
                            <a class="nav-link" href="/book-publisher-list/">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Publisher List
                            </a> 
                            <!-- <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Inventory
                            </a>  -->
                            <a class="nav-link" href="/dashboard/sales/sales-history/">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Sales
                            </a> 
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Reports
                            </a> 
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#Settings_menu" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Settings
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            
                            <div class="collapse" id="Settings_menu" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/settings-dashboard/">Settings Dashboard</a>
                                    <a class="nav-link" href="/settings/sliderList/">Slider List</a>
                                    <a class="nav-link" href="#">District List</a>
                                    <a class="nav-link" href="#">Upozilla List</a>
                                    <a class="nav-link" href="#">Business Calendar</a> 
                                </nav>
                            </div>

                            <!-- <a class="nav-link" href="/dashboard/blog/blog-list/">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Blog List
                            </a>  -->
                             
                        </div>
                    </div> 
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">

                        {% block content %}

                        {% endblock %} 
                    </div>
                </main>
     
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Ahsan publications</div>
                            <div>  
                                <a href="https://bitscol.com/"> Development By BITSCOL </a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'publisher_app/admin_dashboard/js/jquery.min.js' %}"></script> 
        
        <script src="{% static 'publisher_app/admin_dashboard/js/bootstrap.min.js' %}"></script>        
        
        <script src="{% static 'publisher_app/admin_dashboard/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'publisher_app/admin_dashboard/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'publisher_app/admin_dashboard/assets/demo/chart-bar-demo.js' %}"></script>  
        <script src="{% static 'publisher_app/admin_dashboard/js/datatable_custom.js' %}"></script>
        <script src="{% static 'publisher_app/admin_dashboard/js/datatables-simple-demo.js' %}"></script>
        <script src="{% static 'publisher_app/admin_dashboard/js/select2.js' %}"></script>
        <script src="{% static 'publisher_app/admin_dashboard/js/pagination.js' %}"></script>
        <script>
            $('.PrintCustomerInvoice').on('click', function(event) {
                order_number = $(this).data('id');  
                $.post('/dashboardOrderPrint', {
                    order_number: order_number,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                }, function(data) {
                    var w = window.open('about:blank');
                    w.document.open();
                    w.document.write(data);
                    w.print();
                    w.document.close();
                    location.reload();
                }, 'html')
            }); 
        </script>
    </body>
</html>
